<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bl.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.bl.model.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_mobilephone" property="userMobilephone" jdbcType="VARCHAR" />
    <result column="user_mail" property="userMail" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="is_administrator" property="isAdministrator" jdbcType="BIT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="wx_user_id" property="wxUserId" jdbcType="VARCHAR" />
    <result column="login_state" property="loginState" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="customer_type" property="customerType" jdbcType="INTEGER" />
    <result column="user_source" property="userSource" jdbcType="INTEGER" />
    <result column="approval_state" property="approvalState" jdbcType="VARCHAR" />
    <result column="admin_suffix" property="adminSuffix" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, user_account, user_password, user_name, user_mobilephone, user_mail, company_id, 
    dept_id, create_date, creator, is_administrator, sort, wx_user_id, login_state, status, 
    customer_type, user_source, approval_state, admin_suffix
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bl.model.UserCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
      <if test=" limitEnd > 0" >
        limit #{limitStart} , #{limitEnd}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bl.model.UserCriteria" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bl.model.User" useGeneratedKeys="true" keyProperty="userId" >
    insert into user (user_id, user_account, user_password, 
      user_name, user_mobilephone, user_mail, 
      company_id, dept_id, create_date, 
      creator, is_administrator, sort, 
      wx_user_id, login_state, status, 
      customer_type, user_source, approval_state, 
      admin_suffix)
    values (#{userId,jdbcType=INTEGER}, #{userAccount,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userMobilephone,jdbcType=VARCHAR}, #{userMail,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=INTEGER}, #{isAdministrator,jdbcType=BIT}, #{sort,jdbcType=INTEGER}, 
      #{wxUserId,jdbcType=VARCHAR}, #{loginState,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{customerType,jdbcType=INTEGER}, #{userSource,jdbcType=INTEGER}, #{approvalState,jdbcType=VARCHAR}, 
      #{adminSuffix,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bl.model.User" useGeneratedKeys="true" keyProperty="userId" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userAccount != null" >
        user_account,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userMobilephone != null" >
        user_mobilephone,
      </if>
      <if test="userMail != null" >
        user_mail,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="isAdministrator != null" >
        is_administrator,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="wxUserId != null" >
        wx_user_id,
      </if>
      <if test="loginState != null" >
        login_state,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="customerType != null" >
        customer_type,
      </if>
      <if test="userSource != null" >
        user_source,
      </if>
      <if test="approvalState != null" >
        approval_state,
      </if>
      <if test="adminSuffix != null" >
        admin_suffix,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobilephone != null" >
        #{userMobilephone,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null" >
        #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="isAdministrator != null" >
        #{isAdministrator,jdbcType=BIT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="wxUserId != null" >
        #{wxUserId,jdbcType=VARCHAR},
      </if>
      <if test="loginState != null" >
        #{loginState,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="customerType != null" >
        #{customerType,jdbcType=INTEGER},
      </if>
      <if test="userSource != null" >
        #{userSource,jdbcType=INTEGER},
      </if>
      <if test="approvalState != null" >
        #{approvalState,jdbcType=VARCHAR},
      </if>
      <if test="adminSuffix != null" >
        #{adminSuffix,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bl.model.UserCriteria" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userAccount != null" >
        user_account = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.userPassword != null" >
        user_password = #{record.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userMobilephone != null" >
        user_mobilephone = #{record.userMobilephone,jdbcType=VARCHAR},
      </if>
      <if test="record.userMail != null" >
        user_mail = #{record.userMail,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null" >
        dept_id = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=INTEGER},
      </if>
      <if test="record.isAdministrator != null" >
        is_administrator = #{record.isAdministrator,jdbcType=BIT},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.wxUserId != null" >
        wx_user_id = #{record.wxUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.loginState != null" >
        login_state = #{record.loginState,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.customerType != null" >
        customer_type = #{record.customerType,jdbcType=INTEGER},
      </if>
      <if test="record.userSource != null" >
        user_source = #{record.userSource,jdbcType=INTEGER},
      </if>
      <if test="record.approvalState != null" >
        approval_state = #{record.approvalState,jdbcType=VARCHAR},
      </if>
      <if test="record.adminSuffix != null" >
        admin_suffix = #{record.adminSuffix,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set user_id = #{record.userId,jdbcType=INTEGER},
      user_account = #{record.userAccount,jdbcType=VARCHAR},
      user_password = #{record.userPassword,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_mobilephone = #{record.userMobilephone,jdbcType=VARCHAR},
      user_mail = #{record.userMail,jdbcType=VARCHAR},
      company_id = #{record.companyId,jdbcType=INTEGER},
      dept_id = #{record.deptId,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      creator = #{record.creator,jdbcType=INTEGER},
      is_administrator = #{record.isAdministrator,jdbcType=BIT},
      sort = #{record.sort,jdbcType=INTEGER},
      wx_user_id = #{record.wxUserId,jdbcType=VARCHAR},
      login_state = #{record.loginState,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      customer_type = #{record.customerType,jdbcType=INTEGER},
      user_source = #{record.userSource,jdbcType=INTEGER},
      approval_state = #{record.approvalState,jdbcType=VARCHAR},
      admin_suffix = #{record.adminSuffix,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bl.model.User" >
    update user
    <set >
      <if test="userAccount != null" >
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobilephone != null" >
        user_mobilephone = #{userMobilephone,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null" >
        user_mail = #{userMail,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="isAdministrator != null" >
        is_administrator = #{isAdministrator,jdbcType=BIT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="wxUserId != null" >
        wx_user_id = #{wxUserId,jdbcType=VARCHAR},
      </if>
      <if test="loginState != null" >
        login_state = #{loginState,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="customerType != null" >
        customer_type = #{customerType,jdbcType=INTEGER},
      </if>
      <if test="userSource != null" >
        user_source = #{userSource,jdbcType=INTEGER},
      </if>
      <if test="approvalState != null" >
        approval_state = #{approvalState,jdbcType=VARCHAR},
      </if>
      <if test="adminSuffix != null" >
        admin_suffix = #{adminSuffix,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bl.model.User" >
    update user
    set user_account = #{userAccount,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_mobilephone = #{userMobilephone,jdbcType=VARCHAR},
      user_mail = #{userMail,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      dept_id = #{deptId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=INTEGER},
      is_administrator = #{isAdministrator,jdbcType=BIT},
      sort = #{sort,jdbcType=INTEGER},
      wx_user_id = #{wxUserId,jdbcType=VARCHAR},
      login_state = #{loginState,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      customer_type = #{customerType,jdbcType=INTEGER},
      user_source = #{userSource,jdbcType=INTEGER},
      approval_state = #{approvalState,jdbcType=VARCHAR},
      admin_suffix = #{adminSuffix,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>